<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="addperson.component.css">
</head>
<body>

<div class="container">
  <div class="content">
    <div class="main-square"></div>
    <div class="inner-square">
      <div class="text-container">
        <p class="add-person-text">Add person:</p>
        <h3 class="normal-text">If you wish to add a person, please use the mobile app.</h3>
      </div>
      <br>
      <button class="return-button">Return</button>
    </div>
  </div>
</div>

</body>
</html>